/*.scaling-svg-container {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;

}
.scaling-svg {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}*/

.lineupboard {

  &__team-dropdown {
    align-content: end;
  }
  &__tactical-schema {
    margin-top: 2rem;
  }
  &__tactical-schema-button {
    margin-top: 2rem;
  }
}
